* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: "Baloo Tammudu 2", Arial, Helvetica, sans-serif;
}

/* NAVBAR*************************************** */

.topnav {
  overflow: hidden;
  background-color:  #333A39;
  position:fixed;
  width:100%;
  z-index: 999;
}

.topnav a {
  float: left;
  display: block;
  color: #FDFDFD;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;

}

.topnav a:hover {
  background-color: #001211;
  color: #F3F9D2;
}

.topnav a.active {
  background-color: #001211;
  color: #FDFDFD;
  font-weight:600;
  font-size:20px;
  margin-top:0px;
  
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 17px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 17px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}


@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
/* FIN DE LA NAVBAR*************************************** */

/* AFFICHE*************************************** */
h1 {
  margin:150px auto 30px auto;
  text-align:center; color:#fff;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 0;
}


    .hi-slide { position: relative; width: 754px; height: 292px; margin: 115px auto 0; }

.hi-slide .hi-next,
.hi-slide .hi-prev
    { position: absolute;
      top: 50%;
      width: 40px;
      height: 40px;
      margin-top: -20px;
        border-radius: 50px;


      line-height: 40px;
      text-align: center;
      cursor: pointer;
      background-color: #fff;
      color: black;
      transition: all 0.6s;
      font-size: 20px;
        font-weight: bold;
    }
   .hi-slide .hi-next:hover,
    .hi-slide .hi-prev:hover
    {
    opacity: 1;
    background-color: #fff;
    }

   .hi-slide .hi-prev { left: -60px; }

.hi-slide .hi-prev::before { content: '<'; }
.hi-slide .hi-next { right: -60px; }
.hi-slide .hi-next::before { content: '>'; }

    .hi-slide > ul
            {
                list-style: none;
                position: relative;
                width: 754px;
                height: 292px;
                margin: 0;
                padding: 0;
    }


.hi-slide > ul > li {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 146px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid #fff;
    background-color: #333;
    cursor: pointer; }

.hi-slide > ul > li > img { width: 100%; height: 100%; background-position: center;}
/* FIN DE AFFICHE*************************************** */

/* PARALLAX*************************************** */
/* FIN DU PARALLAX*************************************** */

/* TARIF*************************************** */
.tarifs-dada{
  text-align:center;
  margin-right:auto;
  margin-left:auto;
}

.tarifs-dada > h2{
  font-family: "Baloo Tammudu 2", Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #FDFDFD;
  
}

.all-tarifs{
  margin-left:auto;
  margin-right:auto;
  width:95%;
  
}


.titre-prix {
  font-family: "Baloo Tammudu 2", Arial, Helvetica, sans-serif;
  background-color:#001211;
  color:#FDFDFD;
  margin-bottom:0px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  padding-top:10px;
  font-size:25px;
  
}

.prix-dada{
  margin-top:0px;
  background-color:#355864;;  
  color:#FDFDFD;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  font-family: "Ubuntu",Arial, Helvetica, sans-serif;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom:50px;
  height:auto;
  padding-top:10px;
  padding-bottom:6px;
 
}

.para-prix{
  font-size:20px;
  line-height:50px;
  width:90%;
  margin-left:auto;
  margin-right:auto;
}



@media only screen and (min-width:768px){
 .all-tarifs{
     display:flex;
     width:100%;
     justify-content: space-evenly;
 }

 .dada-flex{
     width:30%;

 }


}

@media only screen and (min-width:1000px){

  .all-tarifs{
      width:90%;
  }

  .dada-flex{
      width:30%;

  }



}

/* FIN DES TARIFS*************************************** */

/* FOOTER*************************************** */
.col1,
.col2,
.col3 {
    margin-top: 30px;
}

.col1>img,
.col2>img,
.col3>img {
    margin-bottom: 30px;
}

FOOTER {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #333A39;
    padding-top:30px;
    padding-bottom:30px;
    color:#FDFDFD;
    
}

footer>p {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
}

.title-footer {
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 20px;
}

.copy {
    font-size: 10px;
    padding-top: 10px;
}

.socials {
    padding-top: 20px;
}

.logo-nav {
    display: none;
}

@media only screen and (min-width:768px) {
    .col-img1,
    .col-img2,
    .col-img3 {
        height: 600px;
    }

    .col-img1>p,
    .col-img2>p,
    .col-img3>p {
        padding-top: 300px;
        font-size: 30px;
    }


    .footer-3 {
        display: flex;
        width: 90%;
        padding-bottom: 30px;

    }

    .col1,
    .col2,
    .col3 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .col-footer {
        display: flex;
        padding-top: 20px;
        margin-bottom: 30px;
    
    }

}

@media only screen and (min-width:1024px) {


    .col-img1,
    .col-img2,
    .col-img3 {
        height: 100vh;
        text-align: center;
    }

    .col-img1>p,
    .col-img2>p,
    .col-img3>p {
        padding-top: 50vh;
        font-size: 500%;
    }

    .footer-3{
        justify-content: space-evenly;
    }

    .col1,
    .col2,
    .col3 {
        width: 20%;
        font-size: 25px;
    }

    .title-footer{
        font-size:20px;
    }

    .col-footer{
        justify-content: center;
    }

.col-footer >div{
    width:20%;
    margin:20px;
    
}
/* FIN DU FOOTER*************************************** */