body{
background-color:#333A39;
}

.tarifs-dada{
    text-align:center;
    margin-right:auto;
    margin-left:auto;
}

.tarifs-dada > h2{
    font-family: "Baloo Tammudu 2", Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #FDFDFD;
    
}

.all-tarifs{
    margin-left:auto;
    margin-right:auto;
    width:95%;
    
}


.titre-prix {
    font-family: "Baloo Tammudu 2", Arial, Helvetica, sans-serif;
    background-color:#001211;
    color:#FDFDFD;
    margin-bottom:0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    padding-top:10px;
    font-size:25px;
    
}

.prix-dada{
    margin-top:0px;
    background-color:#355864;;  
    color:#FDFDFD;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    font-family: "Ubuntu",Arial, Helvetica, sans-serif;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom:50px;
    height:auto;
    padding-top:10px;
    padding-bottom:6px;
   
}

.para-prix{
    font-size:20px;
    line-height:50px;
    width:90%;
    margin-left:auto;
    margin-right:auto;
}



@media only screen and (min-width:768px){
   .all-tarifs{
       display:flex;
       width:100%;
       justify-content: space-evenly;
   }

   .dada-flex{
       width:30%;

   }


}

@media only screen and (min-width:1000px){

    .all-tarifs{
        width:90%;
    }

    .dada-flex{
        width:30%;
 
    }

  

}
